*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Segoe UI", sans-serif;
}

body{
  min-height:100vh;
  background: linear-gradient(
    135deg,
    #4f46e5,
    #7c3aed,
    #ec4899
  );
}

.auth-container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.auth-card{
  width:420px;
  padding:40px;
  border-radius:20px;

  background: rgba(255,255,255,0.15);

  backdrop-filter: blur(20px);

  border:1px solid rgba(255,255,255,0.3);

  box-shadow:
  0 8px 32px rgba(0,0,0,0.2);

  color:white;
  background: #ffffff;
opacity: 1;
color: #222;
box-shadow: 0 15px 40px rgba(0,0,0,.15);
}

.auth-card h1{
    color:#222;
    font-size:38px;
    margin-bottom:10px;
}
.subtitle{
  text-align:center;
  margin-bottom:30px;
  opacity:0.9;
}

.auth-card input{

  width:100%;
  padding:14px;
  margin-bottom:15px;

  border:1px solid #ddd;
  outline:none;

  border-radius:10px;

  background:white;

  color:#222;

  font-size:16px;

}

.auth-card input::placeholder{
  color:#666;
}

.auth-card button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#4F46E5;
    color:white;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
}

.auth-card button:hover{
  transform:translateY(-2px);
}

.switch-text{
  text-align:center;
  margin-top:20px;
}

.switch-text a{
  color:white;
  font-weight:bold;
  text-decoration:none;
}